body {
  background: #000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
}

:root {
  --items-count: 6;
  --width: 370px;
  --height: 400px;
  --duration: 5s;
}

.slider {
  width: 100%;
  height: var(--height); /* 400px */
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #fff 10% 90%, transparent);
}

.slider:hover img {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider img:hover {
  filter: grayscale(0);
}

img {
  position: absolute;
  width: var(--width);
  height: var(--height);
  object-fit: contain;
  transition: filter 0.3s;
  left: 100%;
  filter: grayscale(0);
  animation: autoRunSlider var(--duration) linear infinite;
  animation-delay: calc(
    (var(--pos) - 1) * (var(--duration) / var(--items-count))
  );
}

@keyframes autoRunSlider {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}