

#demoToggleContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

/* #demoToggle {
    padding: 8px 12px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

#demoToggle {
    padding: 10px 20px;
    background: linear-gradient(135deg, #6e00ff, #a100ff);
    color: white;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(160, 0, 255, 0.4);
    transition: all 0.3s ease;
}

#demoToggle:hover {
    background: linear-gradient(135deg, #7f1fff, #c04bff);
    box-shadow: 0 6px 16px rgba(160, 0, 255, 0.6);
    transform: translateY(-2px);
}


#demoContent {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 40px;
    color: white;
    pointer-events: none;
    font-family: sans-serif;
}

#demoContent.active {
    display: block;
}

.demo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-radius: 9999px;
    background: rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
}

.demo-logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.demo-nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.demo-main {
    text-align: center;
    margin-top: 100px;
}

.demo-btn {
    border: 1px solid #555;
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 999px;
    margin-bottom: 20px;
    cursor: pointer;
}

.demo-title {
    font-size: 2.5rem;
    font-weight: 800;
    max-width: 700px;
    margin: 20px auto;
}

.demo-actions button {
    padding: 12px 24px;
    font-size: 1rem;
    margin: 10px;
    border-radius: 9999px;
    cursor: pointer;
}

.demo-primary {
    background: white;
    color: black;
    border: none;
}

.demo-secondary {
    background: rgba(255, 255, 255, 0.1);
    color: #888;
    border: 1px solid #444;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    background: #000;
    color: white;
}

#controls {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 12px;
    z-index: 10;
}

label {
    display: block;
    margin-top: 10px;
}

canvas {
    display: block;
}

#toggleControlsBtn {
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    top: 20px;
    right: 20px;
    z-index: 11;
    padding: 0.5rem 1rem;
    background: linear-gradient(135deg, #6e00ff, #a100ff);
    color: white;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(160, 0, 255, 0.4);
    transition: all 0.3s ease;
}