body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.3s ease;   
  transition: 0.8s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container .glass[data-text="Discord"]:hover {
    background: #252a64; 
  }
  
  .container .glass[data-text="Earn"]:hover {
    background: #134515; 
  }
  
  .container .glass[data-text="LinkedIn"]:hover {
    background: #013551;
  }
  
  .container .glass[data-text="Github"]:hover {
    background: #333; 
  }
  
  .container .glass[data-text="Twitter"]:hover {
    background: #1b303e; 
  }
  
  .container .glass[data-text="Code"]:hover {
    background: #80721a; 
  }

  .container .glass[data-text="Instagram"]:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); 
  }


.container .glass:hover svg {
    transform: scale(1.2); 
  }

.container .glass svg {
  width: 80px;
  height: 80px;
  fill: #fff;
  transition: transform 0.3s ease; 
  font-size: 2.5em;
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}