ul {
    position: relative;
    transform: skewY(-15deg);
}

li {
    position: relative;
    list-style: none;
    width: 200px;
    padding: 15px;
    background: #333;
    z-index: calc(1 * var(--i));
    transition: 0.5s;
}

li:hover {
    background: #9535aa;
    transform: translate(-50px);
}

li::before {
    font-family: "FontAwesome";
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-icon);
    position: absolute;
}