* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* position: relative; */
    width: 220px;
    height: auto;
    position: relative;
    margin: 70px auto;
    filter: url(#ripple-effect);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 220px;
    height: 80px;
    position: relative;
    margin-bottom: 60px;
    transition: .5s;
}

button span {
    display: block;
    width: 20px;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    background: blue;
    translate: .7s cubic-bezier(0, 2, 0.7, 2);
}

button:hover span {
    height: 120%;
    transition: .4s cubic-bezier(0, 2, 0.7, 2);
}

button span:nth-child(1) {
    transition-delay: .25s;
    left: 0;
}

button span:nth-child(2) {
    transition-delay: .2s;
    left: 20px;
}

button span:nth-child(3) {
    transition-delay: .15s;
    left: 40px;
}

button span:nth-child(4) {
    transition-delay: .1s;
    left: 60px;
}

button span:nth-child(5) {
    transition-delay: .05s;
    left: 80px;
}

button span:nth-child(6) {
    transition-delay: .0s;
    left: 100px;
}

button span:nth-child(7) {
    transition-delay: .05s;
    left: 120px;
}

button span:nth-child(8) {
    transition-delay: .1s;
    left: 140px;
}

button span:nth-child(9) {
    transition-delay: .15s;
    left: 160px;
}

button span:nth-child(10) {
    transition-delay: .2s;
    left: 180px;
}

button span:nth-child(11) {
    transition-delay: .25s;
    left: 200px;
}

p {
    color: aliceblue;
    font-size: 12px;
    z-index: 10;
    position: relative;
    transition: .5s;
}

button:hover p {
    color: grey;
}