body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.ball {
  width: 200px;
  height: 200px;
  background: #f7f7f7;
  border-radius: 50%;
  z-index: 3;
  animation: bounceAnimation 1s infinite;
}

.shadow {
  position: absolute;
  width: 200px;
  height: 15px;
  background: rgb(61, 58, 58);
  border-radius: 50%;
  animation: shadowAnimation 1s infinite;
  transform: translateY(95px);
}

.particles::before,
.particles::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: particleAnimation 2s infinite;
}

@keyframes bounceAnimation {
  50% {
    /* transform: translateY(-100px); */
    transform: translateY(-250px);
    animation-timing-function: ease-in;
  }

  0%,
  100% {
    transform: scaleX(1.2) scaleY(0.7);
  }

  97% {
    transform: scaleX(1);
  }
}

@keyframes shadowAnimation {
  0%,
  100% {
    transform: scaleX(0.7) translateY(95px);
    opacity: 1;
  }

  50% {
    transform: scaleX(1) translateY(95px);
    opacity: 0.5;
  }
}
