body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

.ball {
    width: 200px;
    height: 200px;
    background: #f7f7f7;
    border-radius: 50%;
    /* z-index: 2; */
    animation: bounceAnimation 1s infinite;
}

@keyframes bounceAnimation {
    50% {
        /* transform: translateY(-100px); */
        transform: translateY(-240px);
        animation-timing-function: ease-in;
    }
    
    0%, 100% {
        transform: scaleX(1.2) scaleY(.7);
    }

    97% {
        transform: scaleX(1)
    }
}