@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    background-color: #eee;
    color: #555;
    text-align: center;
    padding: 4em 0;
}

$bookAngle: 60deg;
$speed: 5s;
$boarderColor: #555;

$images:
    url('https://picsum.photos/420/300?random=1'),
    url('https://picsum.photos/420/300?random=1'),
    url('https://picsum.photos/420/300?random=1'),
    url('https://picsum.photos/420/300?random=1'),
    url('https://picsum.photos/420/300?random=1'),
    url('https://picsum.photos/420/300?random=1'),
    url('https://picsum.photos/420/300?random=1'),

.imageLoader {
    display: fixed;
    animation: preload is steps(1);
    width: 1px;
    height: 1px;

    @keyframes preload {
        @for $i from 0 through 4 {
            #{$i * 10} % {background-image: nth($images, ($i + 1)); }
        }
        100% {display: none;}
    }
}

.container{
    width: 420px;
    height: 420px;
    position: relative;
    margin: 0 auto;
    border: #fff solid 2px;
}

.title {
    position: absolute;
    top: 45px; left: 0;
    width: 100%;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
}

.credit {
    position: absolute;
    top: 100%; left:0;
    font-size: 0.9em;
    text-align: left;
}

