@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    background-color: #eee;
    color: #555;
    text-align: center;
    padding: 4em 0;
}

$bookAngle: 60deg;
$speed: 5s;
$boarderColor: #555;

$images:
    url()