body {
    background: #060606;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

svg path{
    stroke: rgb(239, 235, 235);
    stroke-width: 20px;
    fill: none;
}

