body {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

svg path{
    stroke: rgb(0, 0, 0);
    stroke-width: 30px;
    fill: none;
}

